#canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

* {
    cursor: none;
}
